.workspace {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

@media (max-width: 768px) {
  .workspace {
    height: 60vh;
    margin-top: 20px;
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  .workspace {
    height: 50vh;
    min-height: 250px;
  }
}

@media (max-height: 600px) {
  .workspace {
    height: 50vh;
    min-height: 200px;
  }
}

